{% extends "layout.html" %}

{% block title %}
Book Info
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="d-flex flex-column">
                <span class="p-0">Title: {{ book_data['title'] }}</span>
                <span class="p-1"></span>
                <span class="p-0">Author: {{ book_data['author'] }}</span>
                <span class="p-1"></span>
                <span class="p-0">Year of publication: {{ book_data['year'] }}</span>
                <span class="p-1"></span>
                <span class="p-0">ISBN: {{ book_data['isbn'] }}</span>
                <span class="p-1"></span>
                {% if book_data["bookreads_stars"] == 0 %}
                <span class="p-0">No reviews have been left for this book yet.</span>
                {% else %}
                <span class="p-0">Average user rating from bookreader: {{ "*" * book_data['bookreads_stars'] }}</span>
                {% endif %}
            </div>
            {% if session.get('username') %}
            <form class="d-flex flex-column" action="{{ url_for('submit_read_page', book_isbn=book_data['isbn']) }}" method="GET">
                <span class="p-1"></span>
                <button class="p-0">I read this book!</button>
            </form>
            {% else %}
            <form class="d-flex flex-column" action="{{ url_for('login_page') }}" method="GET">
                <span class="p-1"></span>
                <button class="p-0">Login to leave a read.</button>
            </form>
            {% endif %}
        </div>
        <div class="col-4">
            <div class="d-flex flex-column">
                <span class="p-0"><b>Reviews:</b></span>
                <span class="p-2"></span>
                {% if book_data['reads']|length > 0 %}
                    {% for read in book_data['reads'] %}
                    <span class="p-0">user: {{ read[0] }}</span>
                    <span class="p-0">date: {{ read[1] }}</span>
                    <span class="p-0">stars: {{ "*" * read[2] }}</span>
                    <span class="p-0">comments:</span>
                    <span class="p-0">{{ read[3] }}</span>
                    <span class="p-2"></span>
                    {% endfor %}
                {% else %}
                <span class='p-0'>There are no reviews yet for this book.</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}