{% extends 'layout.html' %}
{% set active_page = 'home' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                Welcome to BookReader!
                <br/>
                Find a book to see what other people have to say about it.
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <form action="{{ url_for('home_page') }}" method="GET">
                    <select name="search_by">
                        <option value="title" selected>Title</option>
                        <option value="author">Author</option>
                        <option value="year">Year of publication</option>
                        <option value="isbn">ISBN</option>
                    </select>
                    <input name="query" type="text" placeholder="Search by title, author, isbn, or year">
                    <button>Go</button>
                </form>
            </div>
            {% if query: %}
                <div class="col">
                    Found {{ results|length }} results for "{{ query }}"
                </div>
            {% endif %}
        </div>
        {% if query: %}
            {% if results: %}
                {% for result in results: %}
                    <div class="row">
                        <div class="col-5">
                            <i>{{ result[2] }}</i> by {{ result[3] }}
                        </div>
                        <div class="col">
                            Published: {{ result[4] }}
                        </div>
                        <div class="col">
                            ISBN: {{ result[1] }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}