$break_width: 720px;
$content_bg: #cccccc;
$content_highlight: #ffffffe8;

* {
    margin: 0;
    padding: 0;
}

%content {
    background-color: $content_bg;
    padding: 20px;
    margin: 20px;
}

.content {
    @extend %content;
}

.row {
    @extend %content;
}

.navbar {
    background-color: #3080d0;
    
    .nav-item {
        color: #d0d0d0;

        .active {
            color: #f0f0f0;
        }
    }
}
